label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3b4cca;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }

  button.link {
    background-color: #6da2db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    transition: background-color 0.3s;
    width: fit-content;
  }
  
  
  .error {
    color: red;
    font-size: 12px;
    text-align: left;
  }

  .registrationForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }