/* Login.css */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil+Supplement&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  margin:10px;
  background-size: cover; 
}
.login-header {
  color: #fff; 
  font-family: 'Potta One', serif;
  font-size: 80px;
  margin-bottom: 0.1rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.8); 
}
.login-header2 {
  color: #fff; 
  font-family: 'Potta One', serif;
  font-size: 2rem;
  margin-bottom: 0.1rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.8); 
}
.subtitle {
  font-family: 'Permanent Marker', serif;
  color: #ffffff; 
  text-shadow: 15px 15px 15px rgba(0,0,0,0.8); 
  margin-bottom: 1rem; 
  font-size: 1.2rem; 
  text-align: center; }

.login-form {
  background: rgba(255,255,255,0.9); 
  padding: 2rem;
  border-radius: 5px; 
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5); 
  width: 100%;
  max-width: 400px; 
}

.form-group {
  margin-bottom: 1rem; 
}

.form-label {
  font-size: 20px;
  font-family: 'Noto Sans Tamil Supplement', serif;
  display: block; 
  margin-bottom: .5rem; 
  color: #000000; 
}

.form-input {
  width: 100%; 
  padding: 0.5rem; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.error-message {
  color: #d9534f; 
  margin-top: 0.25rem; 
  font-size: 0.85rem; 
}

.login-button, .link-button {
  padding: 0.5rem 1rem; 
  width: 100%; 
  border: none;
  border-radius: 4px; 
  margin-top: 0.5rem; 
}

.login-button {
  background-color: #5c98b8;
  color: white; 
}

.register-button {
  background-color: #fac780; 
  color: rgb(6, 6, 6); 
  text-align: center;
  display: block; 
  text-decoration: none; 
  margin-top: 1rem; 
}

.login-status {
  margin-top: 1rem; 
  color: #5bc0de; 
}

.warning{color:red;
font-size: 15px;}