@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+TAS+Beginner&display=swap');


  .overlay-content {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0px;
    z-index: 2;
  }
  

  .ViewMap-toHome {
    padding: 1em 2em; 
    border: none; 
    border-radius: 4px; 
    font-size: 1rem;
    cursor: pointer; 
    display: block; 
    width: 250px; 
    transition: background-color 0.3s; 
    background-color: rgb(146, 149, 245) ; 
    color: white;
    z-index: 5; 
    opacity: 0.7;
  }
  
  .ViewMap-toHome:hover {
    background-color: #ddd; 
  }
  

  .map-container {
    height: 600px; 
    width: 80%;
    margin: auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    position: relative; 
    z-index: 1;
  }
  
  
  .hotpepper-credit {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    top: 10px; 
    z-index: 5;
  }



  .popup-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(30%, 10%);
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: auto; 
    max-width: 150px; 
    height: auto;
    box-sizing: border-box; 
  }
  .popUpStoreName{
    font-weight: bold;
  }

  .submit-rating,
  .cancel-button {
    background-color: aquamarine;
    padding: 5px 10px; 
    font-size: 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    outline: none; 
    margin: 5px;
    transition: background-color 0.3s ease; 
  }
  
  .submit-rating:hover,
  .cancel-button:hover {
    background-color: #555; 
    color: white; 
  }



  .congratulations-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-family: 'Edu TAS Beginner', serif;
  }
  
  
  .congratulations-message {  
    background: url('https://i.ibb.co/jGfJ78X/OIG-1.jpg') no-repeat center center;
    background-size: cover; 
    padding: 200px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 40px;
  }
   
  .messageButton{border: none; 
    border-radius: 4px; 
    font-size: 1rem;
    cursor: pointer; 
    display: block; 
    width: 250px; 
    height: 50px;
    transition: background-color 0.3s; 
    background-color: rgb(146, 149, 245) ; 
    color: white;
    opacity: 0;
  }
  
  .messageButton:hover {
    background-color: rgb(239, 240, 176)
  }

  

  .rating-select {
    width: 100%; 
    height: 40px; 
    font-size: 1rem; 
    padding: 5px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
  }
  
 
  .rating-select {
    position: relative;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="%23000" d="M5 8l5 5 5-5H5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px; 
  }

  
  .viewmap-title {
    font-size: 50px; 
    color: white; 
    padding: 20px 0; 
    text-shadow: 12px 12px 8px rgba(0, 0, 0, 0.5); 
    text-align: center;
    font-family: 'Caveat', serif;
  }

  @media (max-width: 600px) {
    .location-title {
      font-size: 18px; 
    }
  
    .ViewMap-toHome {
       margin:auto;
      top: 10px; 
       width: 95%;
      z-index: 5; 
    }
  
    .hotpepper-credit {
      position: absolute;
      top: 65px; 
   
      z-index: 5;
    }
    .congratulations-message {  
        background: url('https://i.ibb.co/jGfJ78X/OIG-1.jpg') no-repeat center center;
        background-size: cover; 
        padding: 70px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        text-align: center;
        color: rgba(244, 244, 94, 0.833);
        font-size: 20px;
        text-shadow: 10px 2px 14px rgba(0, 0, 0, 0.8);
      
      }
  }