/* App.css */
body, html {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  background: url('https://i.ibb.co/qstRN8P/d50aaae0-a5ca-4cec-a3ca-f316246ef5fa.jpg') no-repeat center center fixed; 
  background-size: cover; 
}

